<%# Links to navigate site (top navbar)     %>
<p>
    <%= link_to 'Home', home_index_path %> |
    <% if user_signed_in? %>
    <%= link_to 'Profile', current_user %> |
    <%= link_to 'Conversations', conversations_path %> |
    <%= link_to 'Edit', edit_user_registration_path %> |
    <%= link_to 'Log out', destroy_user_session_path, method: :delete %> |
    Logged in as <%= current_user.name %>
    <% else %>
    <%= link_to 'Sign up', new_user_registration_path %> |
    <%= link_to 'Log in', new_user_session_path %>
    <% end %>
</p>