<%= form_with(model: band, local: true) do |form| %>
  <% if band.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(band.errors.count, "error") %> prohibited this band from being saved:</h2>

      <ul>
      <% band.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %><br>
  </div>

  <% for image in @band.images %>
    <%= cl_image_tag(image.key, width: 100) %>
    <%= link_to 'Remove', delete_image_attachment_band_url(image.signed_id),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %>
<% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status %>
  </div>

  <div class="field">
    <%= form.label :Band_Members %>
    <%= form.collection_select :user_ids, User.all, :id, :name, {}, { :multiple => true } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
