<p id="notice"><%= notice %></p>

<%# Nav Buttons %>
<ul>
    <li><%= link_to 'Home', home_index_path %></li>
    <li><%= link_to 'Sign Up', new_user_registration_path %></li>
    <li><%= link_to 'Log In', new_user_session_path %></li>
    <%# Redirect to profile of particular logged in user %>
    <%#= link_to 'User Profile', user_path %>
    <li>User Profile</li>
</ul>

<p>
  <strong>Name:</strong>
  <%= @band.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @band.bio %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @band.genre %>
</p>

<p>
  <strong>Status:</strong>
  <%= @band.status %>
</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
