<p id="notice"><%= notice %></p>

<h1><%= @user.name %></h1>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Genres:</strong>
  <%= @user.genres %>
</p>

<h2>Items</h2>
<% for item in @user.items %>
  <p>
    <strong>Brand:</strong>
    <%= item.brand %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= item.model %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= item.description %>
  </p>

  <% if item.for_sale %>
    <p>
      <strong>For Sale:</strong>
      <%= item.price %>
    </p>
  <% end %>
  <%= link_to 'Show', item %>
<% end %>