<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %><br>
  </div>

  <% if item.images.attached? %>
    <% for image in item.images %>
      <%= cl_image_tag(image.key) %>
      <%= link_to 'Remove', delete_image_attachment_item_url(image.signed_id),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.check_box :for_sale %>
    <%= form.label :for_sale %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
