
<p id="notice"><%= notice %></p>

<% if @item.image.attached? %>
  <%= cl_image_tag(@item.image.key, :width=>400, :crop=>"fit") %>
<% end %>

<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @item.model %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<% if @item.for_sale %>
  <p>
    <strong>For Sale:</strong>
    <%= @item.price %>
  </p>
  <% if current_user %>
    <%= form_tag charges_path do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="<%= @item.brand %> <%= @item.model %> "
            data-label="Buy Now!"
            data-amount="<%= @item.price_in_cents %>"
            data-currency="aud"
            data-locale="auto"></script>
    <% end %>
  <% else %>
    <p>Log in to purchase</p>
  <% end %>
<% end %>

<p>
  <strong>Belongs To:</strong>
  <%= link_to @item.user.name, @item.user %>
</p>

<% if @item.can_edit?(current_user) %>
  <%= link_to 'Edit', edit_item_path(@item) %> |
<% end %>

<% if current_user %>
  <% if @item.can_destroy?(current_user) %>
    <%= link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

<h4>Comments</h4>
<% if current_user %>
  <%# <%= link_to 'Add Comment', new_comment_path(@comment) %> %>
  <%= render partial:'comments/form', locals: {comment:nil, item: @item} %>

<% end %>
<% for comment in @item.comments.order(created_at: :desc) %>
  <p>
  <strong><%= link_to comment.user.name, comment.user %></strong> says <%= comment.description %>
  </p>  
  <p><%=time_ago_in_words comment.created_at%> ago</p>
  <p>
    <% if comment.can_edit?(current_user) %>
      <%= link_to 'Edit', edit_comment_path(comment) %>
      <%# <%= render partial:'comments/form', locals: {comment: comment, item: @item} %>       %>
    <% end %>
  </p>
<% end %>
