<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @item.model %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<% if @item.for_sale %>
  <p>
    <strong>For Sale:</strong>
    <%= @item.price %>
  </p>
<% end %>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
