<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @item.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @item.model %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<% if @item.for_sale %>
  <p>
    <strong>For Sale:</strong>
    <%= @item.price %>
  </p>
<% end %>

<p>
  <strong>Belongs To:</strong>
  <%= link_to @item.user.name, @item.user %>
</p>

<% if @item.can_edit?(current_user) %>
  <%= link_to 'Edit', edit_item_path(@item) %> |
<% end %>

<% if current_user %>
  <% if @item.can_destroy?(current_user) %>
    <%= link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>

<h4>Comments</h4>
<% for comment in @item.comments %>
  <p><strong><%= link_to comment.user.name, comment.user %></strong> says <%= comment.description %></p>
<% end %>